<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzy.blog.mapper.IUserMapper" >

 	<select id="getUser" parameterType="long" resultType="com.zzy.blog.pojo.User">
 		select username,password,create_time from 
 		rumo_user where id=#{id}
 	</select>
  	
 </mapper>	