<link rel="shortcut icon" href="${basePath}/img/ironman-draw.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="${basePath}/css/bootstrap.min.css">
<link rel="stylesheet" href="${basePath}/css/beantech.min.css">
<link rel="stylesheet" href="${basePath}/css/highlight.css">
<link rel="stylesheet" href="${basePath}/css/widget.css">
<link rel="stylesheet" href="${basePath}/css/rocket.css">
<link rel="stylesheet" href="${basePath}/css/signature.css">
<link rel="stylesheet" href="${basePath}/css/toc.css">
<link href="${basePath}/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<script> var bashPath="${bashPath}";</script>